# For Expo to visit your App within regional network
IP_ADDR=<your-local-ip-addr-or-cloud-server>

# Set to ture when you're sure that libreTranslate is up and serving!
ENABLE_LIBRE_TRANSLATE=false
